.tt{color: black;background-color:
     darkkhaki;}
.aa{color: black;background-color:
     cadetblue;}
.ss{color: black;background-color:
     darkviolet;}
.gg{color: black;background-color:
     brown;}
.hh{color: black;background-color:
     coral;}
.kk{background-color:
    rgb(255, 127, 7)}
.ll{background-color:rgb(248, 244, 4)}

.oo{background-color:rgb(145, 185, 70)}

.uu{background-color: rgb(36, 153, 173)}

.ww{background-color: #513c79}

.qq{background-color: #963838;}