div{
    height: 300PX;
    width: 300px;
    margin: auto; 
    box-shadow: 5px 5px 20px;
    transition: 3s ;
    position: relative;
}

div:hover{
    height: 300PX;
    width: 300px;
    border:3px solid black; 
    border-radius:20px;
    background-color: crimson;
}
 
.pp{
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 44px;  
    box-shadow: 5px 5px 20px;
    transition: 3s;
    z-index: 2;
}

 



